# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
aiobotocore=2.0.1=pypi_0
aiohttp=3.8.1=pypi_0
aioitertools=0.8.0=pypi_0
aiosignal=1.2.0=pypi_0
alembic=1.7.5=pypi_0
anyio=3.4.0=pypi_0
apache-airflow=2.2.2=pypi_0
apache-airflow-providers-amazon=2.4.0=pypi_0
apache-airflow-providers-ftp=2.0.1=pypi_0
apache-airflow-providers-http=2.0.1=pypi_0
apache-airflow-providers-imap=2.0.1=pypi_0
apache-airflow-providers-postgres=2.3.0=pypi_0
apache-airflow-providers-sqlite=2.0.1=pypi_0
apispec=3.3.2=pypi_0
appnope=0.1.2=pypi_0
argcomplete=1.12.3=pypi_0
argon2-cffi=21.1.0=pypi_0
asn1crypto=1.4.0=pypi_0
astroid=2.8.6=pypi_0
async-timeout=4.0.1=pypi_0
attrs=20.3.0=pypi_0
babel=2.9.1=pypi_0
backcall=0.2.0=pypi_0
beautifulsoup4=4.10.0=pypi_0
black=21.11b1=pypi_0
bleach=4.1.0=pypi_0
blinker=1.4=pypi_0
boto3=1.19.0=pypi_0
botocore=1.22.8=pypi_0
ca-certificates=2021.10.8=h033912b_0
cattrs=1.5.0=pypi_0
certifi=2021.10.8=py38h50d1736_1
cffi=1.15.0=pypi_0
charset-normalizer=2.0.8=pypi_0
click=7.1.2=pypi_0
clickclick=20.10.2=pypi_0
colorama=0.4.4=pypi_0
colorlog=5.0.1=pypi_0
commonmark=0.9.1=pypi_0
configparser=5.2.0=pypi_0
croniter=1.0.15=pypi_0
cryptography=36.0.0=pypi_0
debugpy=1.5.1=pypi_0
decorator=5.1.0=pypi_0
defusedxml=0.7.1=pypi_0
dill=0.3.4=pypi_0
dnspython=2.1.0=pypi_0
docutils=0.16=pypi_0
email-validator=1.1.3=pypi_0
entrypoints=0.3=pypi_0
flask=1.1.4=pypi_0
flask-appbuilder=3.4.0=pypi_0
flask-babel=2.0.0=pypi_0
flask-caching=1.10.1=pypi_0
flask-jwt-extended=3.25.1=pypi_0
flask-login=0.4.1=pypi_0
flask-openid=1.3.0=pypi_0
flask-sqlalchemy=2.5.1=pypi_0
flask-wtf=0.14.3=pypi_0
frozenlist=1.2.0=pypi_0
fsspec=2021.11.1=pypi_0
gunicorn=20.1.0=pypi_0
h11=0.12.0=pypi_0
httpcore=0.14.3=pypi_0
httpx=0.21.1=pypi_0
idna=3.3=pypi_0
importlib-metadata=4.8.2=pypi_0
importlib-resources=5.4.0=pypi_0
inflection=0.5.1=pypi_0
ipykernel=6.6.0=pypi_0
ipython=7.30.1=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.6.5=pypi_0
iso8601=1.0.2=pypi_0
isodate=0.6.0=pypi_0
isort=5.10.1=pypi_0
itsdangerous=1.1.0=pypi_0
jedi=0.18.1=pypi_0
jinja2=2.11.3=pypi_0
jmespath=0.10.0=pypi_0
jsonpath-ng=1.5.3=pypi_0
jsonschema=3.2.0=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=7.1.0=pypi_0
jupyter-console=6.4.0=pypi_0
jupyter-core=4.9.1=pypi_0
jupyterlab-pygments=0.1.2=pypi_0
jupyterlab-widgets=1.0.2=pypi_0
lazy-object-proxy=1.6.0=pypi_0
libblas=3.9.0=12_osx64_openblas
libcblas=3.9.0=12_osx64_openblas
libcxx=12.0.0=h2f01273_0
libffi=3.3=hb1e8313_2
libgfortran=5.0.0=9_3_0_h6c81a4c_23
libgfortran5=9.3.0=h6c81a4c_23
liblapack=3.9.0=12_osx64_openblas
libopenblas=0.3.18=openmp_h3351f45_0
libzlib=1.2.11=h9173be1_1013
llvm-openmp=12.0.1=hda6cdc1_1
lockfile=0.12.2=pypi_0
lxml=4.6.4=pypi_0
mako=1.1.6=pypi_0
markdown=3.3.6=pypi_0
markupsafe=1.1.1=pypi_0
marshmallow=3.14.1=pypi_0
marshmallow-enum=1.5.1=pypi_0
marshmallow-oneofschema=3.0.1=pypi_0
marshmallow-sqlalchemy=0.26.1=pypi_0
matplotlib-inline=0.1.3=pypi_0
mccabe=0.6.1=pypi_0
mistune=0.8.4=pypi_0
multidict=5.2.0=pypi_0
mypy-extensions=0.4.3=pypi_0
nbclient=0.5.9=pypi_0
nbconvert=6.3.0=pypi_0
nbformat=5.1.3=pypi_0
ncurses=6.3=hca72f7f_2
nest-asyncio=1.5.4=pypi_0
notebook=6.4.6=pypi_0
numpy=1.21.4=py38h49b9922_0
openapi-schema-validator=0.1.5=pypi_0
openapi-spec-validator=0.3.1=pypi_0
openssl=1.1.1l=h0d85af4_0
packaging=21.3=pypi_0
pandas=1.3.4=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
pathspec=0.9.0=pypi_0
pendulum=2.1.2=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pip=21.2.4=py38hecd8cb5_0
platformdirs=2.4.0=pypi_0
ply=3.11=pypi_0
prison=0.2.1=pypi_0
prometheus-client=0.12.0=pypi_0
prompt-toolkit=3.0.23=pypi_0
psutil=5.8.0=pypi_0
psycopg2-binary=2.9.2=pypi_0
ptyprocess=0.7.0=pypi_0
py4j=0.10.9.2=pypi_0
pyarrow=6.0.1=pypi_0
pycparser=2.21=pypi_0
pygments=2.10.0=pypi_0
pyjwt=1.7.1=pypi_0
pylint=2.11.1=pypi_0
pyparsing=3.0.6=pypi_0
pyreadstat=1.1.4=py38h4fe204b_0
pyrsistent=0.18.0=pypi_0
pyspark=3.2.0=pypi_0
python=3.8.12=h88f2d9e_0
python-daemon=2.3.0=pypi_0
python-dateutil=2.8.2=pyhd8ed1ab_0
python-graphviz=0.18.2=pypi_0
python-nvd3=0.15.0=pypi_0
python-slugify=4.0.1=pypi_0
python3-openid=3.2.0=pypi_0
python_abi=3.8=2_cp38
pytz=2021.3=pyhd8ed1ab_0
pytzdata=2020.1=pypi_0
pyyaml=6.0=pypi_0
pyzmq=22.3.0=pypi_0
qtconsole=5.2.1=pypi_0
qtpy=1.11.3=pypi_0
readline=8.1=h9ed2024_0
redshift-connector=2.0.900=pypi_0
regex=2021.11.10=pypi_0
requests=2.26.0=pypi_0
rfc3986=1.5.0=pypi_0
rich=10.14.0=pypi_0
s3fs=2021.11.1=pypi_0
s3transfer=0.5.0=pypi_0
scramp=1.4.1=pypi_0
send2trash=1.8.0=pypi_0
setproctitle=1.2.2=pypi_0
setuptools=58.0.4=py38hecd8cb5_0
six=1.16.0=pyh6c4a22f_0
smart-open=5.2.1=pypi_0
sniffio=1.2.0=pypi_0
soupsieve=2.3.1=pypi_0
sqlalchemy=1.3.24=pypi_0
sqlalchemy-jsonfield=1.0.0=pypi_0
sqlalchemy-redshift=0.8.8=pypi_0
sqlalchemy-utils=0.37.9=pypi_0
sqlite=3.36.0=hce871da_0
swagger-ui-bundle=0.0.9=pypi_0
tabulate=0.8.9=pypi_0
tenacity=8.0.1=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.12.1=pypi_0
testpath=0.5.0=pypi_0
text-unidecode=1.3=pypi_0
tk=8.6.11=h7bc2e8c_0
toml=0.10.2=pypi_0
tomli=1.2.2=pypi_0
tornado=6.1=pypi_0
traitlets=5.1.1=pypi_0
typing-extensions=4.0.0=pypi_0
unicodecsv=0.14.1=pypi_0
urllib3=1.26.7=pypi_0
watchtower=1.0.6=pypi_0
wcwidth=0.2.5=pypi_0
webencodings=0.5.1=pypi_0
werkzeug=1.0.1=pypi_0
wheel=0.37.0=pyhd3eb1b0_1
widgetsnbextension=3.5.2=pypi_0
wrapt=1.13.3=pypi_0
wtforms=2.3.3=pypi_0
xz=5.2.5=h1de35cc_0
yarl=1.7.2=pypi_0
zipp=3.6.0=pypi_0
zlib=1.2.11=h9173be1_1013
